<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compressed-paths</key>
	<array>
		<string>currentRun/core/stores/indexed-store-20</string>
		<string>currentRun/core/stores/indexed-store-23</string>
		<string>currentRun/core/stores/indexed-store-51</string>
		<string>currentRun/core/stores/indexed-store-26</string>
		<string>currentRun/core/uniquing</string>
		<string>currentRun/core/uniquing</string>
		<string>currentRun/core/uniquing</string>
		<string>currentRun/core/stores/indexed-store-54</string>
		<string>currentRun/core/stores/indexed-store-29</string>
		<string>currentRun/core/stores/indexed-store-57</string>
		<string>currentRun/core/stores/indexed-store-85</string>
		<string>currentRun/core/stores/indexed-store-88</string>
		<string>run1/core/core-config</string>
		<string>currentRun/core/stores/indexed-store-12</string>
		<string>currentRun/core/stores/indexed-store-40</string>
		<string>currentRun/core/stores/indexed-store-15</string>
		<string>currentRun/core/stores/indexed-store-0</string>
		<string>currentRun/core/stores/indexed-store-18</string>
		<string>currentRun/core/stores/indexed-store-43</string>
		<string>currentRun/core/stores/indexed-store-71</string>
		<string>currentRun/core/stores/indexed-store-6</string>
		<string>currentRun/core/stores/indexed-store-46</string>
		<string>currentRun/core/stores/indexed-store-49</string>
		<string>currentRun/core/stores/indexed-store-74</string>
		<string>currentRun/core/stores/indexed-store-77</string>
		<string>run1/core/table-manager</string>
		<string>run1/core/stores/indexed-store-0</string>
		<string>run1/core/stores/indexed-store-1</string>
		<string>run1/core/stores/indexed-store-2</string>
		<string>run1/core/stores/indexed-store-3</string>
		<string>run1/core/stores/indexed-store-4</string>
		<string>run1/core/stores/indexed-store-5</string>
		<string>run1/core/stores/indexed-store-6</string>
		<string>run1/core/stores/indexed-store-7</string>
		<string>currentRun/core/stores/indexed-store-32</string>
		<string>run1/core/stores/indexed-store-8</string>
		<string>run1/core/stores/indexed-store-9</string>
		<string>currentRun/core/stores/indexed-store-60</string>
		<string>currentRun/core/stores/indexed-store-35</string>
		<string>currentRun/core/stores/indexed-store-63</string>
		<string>currentRun/core/stores/indexed-store-38</string>
		<string>currentRun/core/stores/indexed-store-91</string>
		<string>currentRun/core/stores/indexed-store-66</string>
		<string>currentRun/core/stores/indexed-store-69</string>
		<string>currentRun/core/stores/indexed-store-1</string>
		<string>currentRun/core/stores/indexed-store-7</string>
		<string>currentRun/core/stores/indexed-store-21</string>
		<string>currentRun/core/stores/indexed-store-24</string>
		<string>currentRun/core/stores/indexed-store-52</string>
		<string>currentRun/core/stores/indexed-store-27</string>
		<string>currentRun/core/stores/indexed-store-55</string>
		<string>currentRun/core/stores/indexed-store-80</string>
		<string>currentRun/core/stores/indexed-store-58</string>
		<string>currentRun/core/stores/indexed-store-86</string>
		<string>currentRun/core/stores/indexed-store-89</string>
		<string>currentRun/core/stores/indexed-store-10</string>
		<string>currentRun/core/stores/indexed-store-13</string>
		<string>currentRun/core/stores/indexed-store-16</string>
		<string>currentRun/core/stores/indexed-store-2</string>
		<string>currentRun/core/stores/indexed-store-44</string>
		<string>currentRun/core/stores/indexed-store-19</string>
		<string>currentRun/core/stores/indexed-store-47</string>
		<string>currentRun/core/stores/indexed-store-72</string>
		<string>currentRun/core/stores/indexed-store-8</string>
		<string>currentRun/core/stores/indexed-store-75</string>
		<string>currentRun/core/stores/indexed-store-78</string>
		<string>currentRun/core/stores/indexed-store-30</string>
		<string>currentRun/core/stores/indexed-store-33</string>
		<string>run1/core/stores/indexed-store-10</string>
		<string>currentRun/core/stores/indexed-store-61</string>
		<string>currentRun/core/stores/indexed-store-36</string>
		<string>run1/core/stores/indexed-store-11</string>
		<string>currentRun/core/stores/indexed-store-39</string>
		<string>run1/core/stores/indexed-store-12</string>
		<string>run1/core/stores/indexed-store-20</string>
		<string>run1/core/stores/indexed-store-21</string>
		<string>currentRun/core/stores/indexed-store-67</string>
		<string>run1/core/stores/indexed-store-13</string>
		<string>run1/core/stores/indexed-store-22</string>
		<string>run1/core/stores/indexed-store-14</string>
		<string>run1/core/stores/indexed-store-30</string>
		<string>run1/core/stores/indexed-store-23</string>
		<string>run1/core/stores/indexed-store-15</string>
		<string>currentRun/core/stores/indexed-store-64</string>
		<string>run1/core/stores/indexed-store-24</string>
		<string>run1/core/stores/indexed-store-16</string>
		<string>run1/core/stores/indexed-store-31</string>
		<string>run1/core/stores/indexed-store-25</string>
		<string>run1/core/stores/indexed-store-17</string>
		<string>currentRun/core/stores/indexed-store-3</string>
		<string>run1/core/stores/indexed-store-26</string>
		<string>run1/core/stores/indexed-store-18</string>
		<string>run1/core/stores/indexed-store-27</string>
		<string>run1/core/stores/indexed-store-19</string>
		<string>run1/core/uniquing</string>
		<string>run1/core/uniquing</string>
		<string>run1/core/uniquing</string>
		<string>currentRun/core/stores/indexed-store-9</string>
		<string>run1/core/stores/indexed-store-28</string>
		<string>run1/core/stores/indexed-store-29</string>
		<string>run1/core/stores/indexed-store-32</string>
		<string>run1/core/stores/indexed-store-33</string>
		<string>run1/core/stores/indexed-store-34</string>
		<string>currentRun/core/stores/indexed-store-22</string>
		<string>run1/core/stores/indexed-store-35</string>
		<string>run1/core/stores/indexed-store-36</string>
		<string>run1/core/stores/indexed-store-37</string>
		<string>currentRun/core/stores/indexed-store-50</string>
		<string>currentRun/core/stores/indexed-store-25</string>
		<string>run1/core/stores/indexed-store-38</string>
		<string>run1/core/stores/indexed-store-39</string>
		<string>currentRun/core/stores/indexed-store-53</string>
		<string>currentRun/core/stores/indexed-store-28</string>
		<string>run1/core/stores/indexed-store-40</string>
		<string>run1/core/stores/indexed-store-41</string>
		<string>currentRun/core/stores/indexed-store-56</string>
		<string>run1/core/stores/indexed-store-42</string>
		<string>run1/core/stores/indexed-store-43</string>
		<string>currentRun/core/stores/indexed-store-59</string>
		<string>run1/core/stores/indexed-store-44</string>
		<string>run1/core/stores/indexed-store-45</string>
		<string>currentRun/core/stores/indexed-store-87</string>
		<string>run1/core/stores/indexed-store-46</string>
		<string>run1/core/stores/indexed-store-47</string>
		<string>run1/core/stores/indexed-store-48</string>
		<string>run1/core/stores/indexed-store-49</string>
		<string>run1/core/stores/indexed-store-50</string>
		<string>run1/core/stores/indexed-store-51</string>
		<string>run1/core/stores/indexed-store-52</string>
		<string>run1/core/stores/indexed-store-53</string>
		<string>run1/core/stores/indexed-store-54</string>
		<string>run1/core/stores/indexed-store-55</string>
		<string>run1/core/stores/indexed-store-56</string>
		<string>run1/core/stores/indexed-store-57</string>
		<string>run1/core/stores/indexed-store-58</string>
		<string>run1/core/stores/indexed-store-59</string>
		<string>run1/core/stores/indexed-store-60</string>
		<string>run1/core/stores/indexed-store-61</string>
		<string>currentRun/core/stores/indexed-store-11</string>
		<string>run1/core/stores/indexed-store-62</string>
		<string>run1/core/stores/indexed-store-63</string>
		<string>run1/core/stores/indexed-store-64</string>
		<string>currentRun/core/stores/indexed-store-14</string>
		<string>run1/core/stores/indexed-store-65</string>
		<string>run1/core/stores/indexed-store-66</string>
		<string>run1/core/stores/indexed-store-67</string>
		<string>currentRun/core/stores/indexed-store-42</string>
		<string>currentRun/core/stores/indexed-store-17</string>
		<string>currentRun/core/stores/indexed-store-45</string>
		<string>currentRun/core/stores/indexed-store-70</string>
		<string>currentRun/core/stores/indexed-store-4</string>
		<string>run1/core/stores/indexed-store-68</string>
		<string>currentRun/core/stores/indexed-store-73</string>
		<string>currentRun/core/stores/indexed-store-48</string>
		<string>currentRun/core/stores/indexed-store-76</string>
		<string>run1/core/stores/indexed-store-69</string>
		<string>run1/core/stores/indexed-store-70</string>
		<string>currentRun/core/stores/indexed-store-79</string>
		<string>run1/core/stores/indexed-store-71</string>
		<string>run1/core/stores/indexed-store-72</string>
		<string>run1/core/stores/indexed-store-73</string>
		<string>run1/core/stores/indexed-store-74</string>
		<string>run1/core/stores/indexed-store-75</string>
		<string>run1/core/stores/indexed-store-76</string>
		<string>run1/core/stores/indexed-store-77</string>
		<string>run1/core/stores/indexed-store-78</string>
		<string>run1/core/stores/indexed-store-79</string>
		<string>run1/core/stores/indexed-store-80</string>
		<string>run1/core/stores/indexed-store-81</string>
		<string>run1/core/stores/indexed-store-82</string>
		<string>run1/core/stores/indexed-store-83</string>
		<string>run1/core/stores/indexed-store-84</string>
		<string>run1/core/stores/indexed-store-85</string>
		<string>run1/core/stores/indexed-store-86</string>
		<string>run1/core/stores/indexed-store-87</string>
		<string>run1/core/stores/indexed-store-88</string>
		<string>run1/core/stores/indexed-store-89</string>
		<string>run1/core/stores/indexed-store-90</string>
		<string>run1/core/stores/indexed-store-91</string>
		<string>currentRun/core/stores/indexed-store-31</string>
		<string>run1/core/stores/indexed-store-92</string>
		<string>run1/core/stores/indexed-store-93</string>
		<string>run1/core/stores/indexed-store-94</string>
		<string>currentRun/core/stores/indexed-store-34</string>
		<string>run1/core/stores/indexed-store-95</string>
		<string>currentRun/core/stores/indexed-store-62</string>
		<string>currentRun/core/stores/indexed-store-37</string>
		<string>currentRun/core/stores/indexed-store-65</string>
		<string>currentRun/core/stores/indexed-store-90</string>
		<string>currentRun/core/stores/indexed-store-68</string>
		<string>currentRun/core/stores/indexed-store-5</string>
	</array>
	<key>paths</key>
	<array>
		<string>currentRun/core/stores/indexed-store-20</string>
		<string>currentRun/core/stores/indexed-store-23</string>
		<string>currentRun/core/stores/indexed-store-51</string>
		<string>currentRun/core/stores/indexed-store-26</string>
		<string>currentRun/core/uniquing</string>
		<string>currentRun/core/stores/indexed-store-54</string>
		<string>currentRun/core/stores/indexed-store-29</string>
		<string>currentRun/core/stores/indexed-store-57</string>
		<string>currentRun/core/stores/indexed-store-85</string>
		<string>currentRun/core/stores/indexed-store-88</string>
		<string>run1/core/core-config</string>
		<string>currentRun/core/stores/indexed-store-12</string>
		<string>currentRun/core/stores/indexed-store-40</string>
		<string>currentRun/core/stores/indexed-store-15</string>
		<string>currentRun/core/stores/indexed-store-0</string>
		<string>currentRun/core/stores/indexed-store-18</string>
		<string>currentRun/core/stores/indexed-store-43</string>
		<string>currentRun/core/stores/indexed-store-71</string>
		<string>currentRun/core/stores/indexed-store-6</string>
		<string>currentRun/core/stores/indexed-store-46</string>
		<string>currentRun/core/stores/indexed-store-49</string>
		<string>currentRun/core/stores/indexed-store-74</string>
		<string>currentRun/core/stores/indexed-store-77</string>
		<string>run1/core/table-manager</string>
		<string>run1/core/stores/indexed-store-0</string>
		<string>run1/core/stores/indexed-store-1</string>
		<string>run1/core/stores/indexed-store-2</string>
		<string>run1/core/stores/indexed-store-3</string>
		<string>run1/core/stores/indexed-store-4</string>
		<string>run1/core/stores/indexed-store-5</string>
		<string>run1/core/stores/indexed-store-6</string>
		<string>run1/core/stores/indexed-store-7</string>
		<string>currentRun/core/stores/indexed-store-32</string>
		<string>run1/core/stores/indexed-store-8</string>
		<string>run1/core/stores/indexed-store-9</string>
		<string>currentRun/core/stores/indexed-store-60</string>
		<string>currentRun/core/stores/indexed-store-35</string>
		<string>currentRun/core/stores/indexed-store-63</string>
		<string>currentRun/core/stores/indexed-store-38</string>
		<string>currentRun/core/stores/indexed-store-91</string>
		<string>currentRun/core/stores/indexed-store-66</string>
		<string>currentRun/core/stores/indexed-store-69</string>
		<string>currentRun/core/stores/indexed-store-1</string>
		<string>currentRun/core/stores/indexed-store-7</string>
		<string>currentRun/core/stores/indexed-store-21</string>
		<string>currentRun/core/stores/indexed-store-24</string>
		<string>currentRun/core/stores/indexed-store-52</string>
		<string>currentRun/core/stores/indexed-store-27</string>
		<string>currentRun/core/stores/indexed-store-55</string>
		<string>currentRun/core/stores/indexed-store-80</string>
		<string>currentRun/core/stores/indexed-store-58</string>
		<string>currentRun/core/stores/indexed-store-86</string>
		<string>currentRun/core/stores/indexed-store-89</string>
		<string>currentRun/core/stores/indexed-store-10</string>
		<string>currentRun/core/stores/indexed-store-13</string>
		<string>currentRun/core/stores/indexed-store-16</string>
		<string>currentRun/core/stores/indexed-store-2</string>
		<string>currentRun/core/stores/indexed-store-44</string>
		<string>currentRun/core/stores/indexed-store-19</string>
		<string>currentRun/core/stores/indexed-store-47</string>
		<string>currentRun/core/stores/indexed-store-72</string>
		<string>currentRun/core/stores/indexed-store-8</string>
		<string>currentRun/core/stores/indexed-store-75</string>
		<string>currentRun/core/stores/indexed-store-78</string>
		<string>currentRun/core/stores/indexed-store-30</string>
		<string>currentRun/core/stores/indexed-store-33</string>
		<string>run1/core/stores/indexed-store-10</string>
		<string>currentRun/core/stores/indexed-store-61</string>
		<string>currentRun/core/stores/indexed-store-36</string>
		<string>run1/core/stores/indexed-store-11</string>
		<string>currentRun/core/stores/indexed-store-39</string>
		<string>run1/core/stores/indexed-store-12</string>
		<string>run1/core/stores/indexed-store-20</string>
		<string>run1/core/stores/indexed-store-21</string>
		<string>currentRun/core/stores/indexed-store-67</string>
		<string>run1/core/stores/indexed-store-13</string>
		<string>run1/core/stores/indexed-store-22</string>
		<string>run1/core/stores/indexed-store-14</string>
		<string>run1/core/stores/indexed-store-30</string>
		<string>run1/core/stores/indexed-store-23</string>
		<string>run1/core/stores/indexed-store-15</string>
		<string>currentRun/core/stores/indexed-store-64</string>
		<string>run1/core/stores/indexed-store-24</string>
		<string>run1/core/stores/indexed-store-16</string>
		<string>run1/core/stores/indexed-store-31</string>
		<string>run1/core/stores/indexed-store-25</string>
		<string>run1/core/stores/indexed-store-17</string>
		<string>currentRun/core/stores/indexed-store-3</string>
		<string>run1/core/stores/indexed-store-26</string>
		<string>run1/core/stores/indexed-store-18</string>
		<string>run1/core/stores/indexed-store-27</string>
		<string>run1/core/stores/indexed-store-19</string>
		<string>run1/core/uniquing</string>
		<string>currentRun/core/stores/indexed-store-9</string>
		<string>run1/core/stores/indexed-store-28</string>
		<string>run1/core/stores/indexed-store-29</string>
		<string>run1/core/stores/indexed-store-32</string>
		<string>run1/core/stores/indexed-store-33</string>
		<string>run1/core/stores/indexed-store-34</string>
		<string>currentRun/core/stores/indexed-store-22</string>
		<string>run1/core/stores/indexed-store-35</string>
		<string>run1/core/stores/indexed-store-36</string>
		<string>run1/core/stores/indexed-store-37</string>
		<string>currentRun/core/stores/indexed-store-50</string>
		<string>currentRun/core/stores/indexed-store-25</string>
		<string>run1/core/stores/indexed-store-38</string>
		<string>run1/core/stores/indexed-store-39</string>
		<string>currentRun/core/stores/indexed-store-53</string>
		<string>currentRun/core/stores/indexed-store-28</string>
		<string>run1/core/stores/indexed-store-40</string>
		<string>run1/core/stores/indexed-store-41</string>
		<string>currentRun/core/stores/indexed-store-56</string>
		<string>run1/core/stores/indexed-store-42</string>
		<string>run1/core/stores/indexed-store-43</string>
		<string>currentRun/core/stores/indexed-store-59</string>
		<string>run1/core/stores/indexed-store-44</string>
		<string>run1/core/stores/indexed-store-45</string>
		<string>currentRun/core/stores/indexed-store-87</string>
		<string>run1/core/stores/indexed-store-46</string>
		<string>run1/core/stores/indexed-store-47</string>
		<string>run1/core/stores/indexed-store-48</string>
		<string>run1/core/stores/indexed-store-49</string>
		<string>run1/core/stores/indexed-store-50</string>
		<string>run1/core/stores/indexed-store-51</string>
		<string>run1/core/stores/indexed-store-52</string>
		<string>run1/core/stores/indexed-store-53</string>
		<string>run1/core/stores/indexed-store-54</string>
		<string>run1/core/stores/indexed-store-55</string>
		<string>run1/core/stores/indexed-store-56</string>
		<string>run1/core/stores/indexed-store-57</string>
		<string>run1/core/stores/indexed-store-58</string>
		<string>run1/core/stores/indexed-store-59</string>
		<string>run1/core/stores/indexed-store-60</string>
		<string>run1/core/stores/indexed-store-61</string>
		<string>currentRun/core/stores/indexed-store-11</string>
		<string>run1/core/stores/indexed-store-62</string>
		<string>run1/core/stores/indexed-store-63</string>
		<string>run1/core/stores/indexed-store-64</string>
		<string>currentRun/core/stores/indexed-store-14</string>
		<string>run1/core/stores/indexed-store-65</string>
		<string>run1/core/stores/indexed-store-66</string>
		<string>run1/core/stores/indexed-store-67</string>
		<string>currentRun/core/stores/indexed-store-42</string>
		<string>currentRun/core/stores/indexed-store-17</string>
		<string>currentRun/core/stores/indexed-store-45</string>
		<string>currentRun/core/stores/indexed-store-70</string>
		<string>currentRun/core/stores/indexed-store-4</string>
		<string>run1/core/stores/indexed-store-68</string>
		<string>currentRun/core/stores/indexed-store-73</string>
		<string>currentRun/core/stores/indexed-store-48</string>
		<string>currentRun/core/stores/indexed-store-76</string>
		<string>run1/core/stores/indexed-store-69</string>
		<string>run1/core/stores/indexed-store-70</string>
		<string>currentRun/core/stores/indexed-store-79</string>
		<string>run1/core/stores/indexed-store-71</string>
		<string>run1/core/stores/indexed-store-72</string>
		<string>run1/core/stores/indexed-store-73</string>
		<string>run1/core/stores/indexed-store-74</string>
		<string>run1/core/stores/indexed-store-75</string>
		<string>run1/core/stores/indexed-store-76</string>
		<string>run1/core/stores/indexed-store-77</string>
		<string>run1/core/stores/indexed-store-78</string>
		<string>run1/core/stores/indexed-store-79</string>
		<string>run1/core/stores/indexed-store-80</string>
		<string>run1/core/stores/indexed-store-81</string>
		<string>run1/core/stores/indexed-store-82</string>
		<string>run1/core/stores/indexed-store-83</string>
		<string>run1/core/stores/indexed-store-84</string>
		<string>run1/core/stores/indexed-store-85</string>
		<string>run1/core/stores/indexed-store-86</string>
		<string>run1/core/stores/indexed-store-87</string>
		<string>run1/core/stores/indexed-store-88</string>
		<string>run1/core/stores/indexed-store-89</string>
		<string>run1/core/stores/indexed-store-90</string>
		<string>run1/core/stores/indexed-store-91</string>
		<string>currentRun/core/stores/indexed-store-31</string>
		<string>run1/core/stores/indexed-store-92</string>
		<string>run1/core/stores/indexed-store-93</string>
		<string>run1/core/stores/indexed-store-94</string>
		<string>currentRun/core/stores/indexed-store-34</string>
		<string>run1/core/stores/indexed-store-95</string>
		<string>currentRun/core/stores/indexed-store-62</string>
		<string>currentRun/core/stores/indexed-store-37</string>
		<string>currentRun/core/stores/indexed-store-65</string>
		<string>currentRun/core/stores/indexed-store-90</string>
		<string>currentRun/core/stores/indexed-store-68</string>
		<string>currentRun/core/stores/indexed-store-5</string>
	</array>
</dict>
</plist>
