<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Recall needs your location to provide location information for your events</string>
	<key>NSCameraUsageDescription</key>
	<string>Recal would like to access your camera to provide images for your events</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>dark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>dark</string>
				</array>
			</dict>
			<key>light</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>light</string>
				</array>
			</dict>
		</dict>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>RenoMono.otf</string>
		<string>Syne-VariableFont_wght.ttf</string>
		<string>AndaleMono.ttf</string>
		<string>SF-Mono-Medium.otf</string>
		<string>SF-Pro.ttf</string>
		<string>Syne-Medium.ttf</string>
	</array>
</dict>
</plist>
