<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>dark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>dark</string>
				</array>
			</dict>
			<key>light</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>light</string>
				</array>
			</dict>
		</dict>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.recall.favoriteEvent</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>recall/favoriteEvent</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Syne-Medium.ttf</string>
	</array>
</dict>
</plist>
